# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @hashicorp/cloud-core-platform-systems @hashicorp/cloud-core-platform-surfaces

# all iam resources and clients are owned by the cloud-identity team
*iam* @hashicorp/cloud-identity

# all Consul resources and clients are owned by the cloud-consul team
*consul* @hashicorp/cloud-consul
/internal/consul/ @hashicorp/cloud-consul

# all Networking resources and clients are owned by the cloud-platform-systems team
*hvn* @hashicorp/hcp-managed-services-ind
*aws* @hashicorp/hcp-managed-services-ind
*azure* @hashicorp/hcp-managed-services-ind
*peering* @hashicorp/hcp-managed-services-ind

# all Packer resources and clients are owned by the cloud-packer team
*packer* @hashicorp/cloud-packer

# all Vault resources and clients are owned by the vault-cloud team.
**/vault*  @hashicorp/vault-cloud

# all Vault Secrets resources and clients are owned by cloud-vault-secrets team
# Don't move these vault secret patterns above the vault patterns. Because, the vault patterns matches
# vault secrets ones and that only selects vault-cloud team as the code owner.
*vaultsecrets*  @hashicorp/cloud-vault-secrets
*vault_secrets* @hashicorp/cloud-vault-secrets
*vault-secrets* @hashicorp/cloud-vault-secrets

# all Boundary resources and clients are owned by the boundary-cloud team
*boundary* @hashicorp/boundary-cloud

# all Waypoint resources and clients are owned by the waypoint team
**/waypoint @hashicorp/cloud-waypoint

# Status page configuration is owned by the FIRE team
/internal/statuspage/ @hashicorp/team-fire

# all Vault Radar resources and clients are owned by the vault-scanning team
*vaultradar*  @hashicorp/vault-scanning
*vault_radar* @hashicorp/vault-scanning
*vault-radar*  @hashicorp/vault-scanning
**/vaultradar/* @hashicorp/vault-scanning
**/vaultradar* @hashicorp/vault-scanning
**/hcp_vault_radar* @hashicorp/vault-scanning

.github/workflows/ @hashicorp/cloud-core-platform-systems @hashicorp/cloud-core-platform-surfaces
