# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

run:
  timeout: 10m
  tests: true

linters:
  enable:
  - errcheck
  - govet
  - ineffassign
  - unused
  - bodyclose
  - gocritic
  - misspell
  - unconvert
  - staticcheck
  - gosimple
  - stylecheck
  - goimports
  - depguard

linters-settings:
  depguard:
    rules:
      main:
        deny:
          - pkg: "github.com/gogo/status"
          - pkg: "github.com/gogo/codes"
          - pkg: "github.com/gogo/protobuf"
  misspell:
    locale: US

issues:
  exclude:
  - ifElseChain
  exclude-rules:
  - path: _test\.go
    linters:
    - bodyclose
  - linters:
    - staticcheck
    text: "SA1019: package github.com/golang/protobuf"
