---
subcategory: ""
page_title: "Federate HCP Consul clusters - HCP Provider"
description: |-
    An example of federating a new HCP Consul cluster with an existing one.
---

# Federate a new HCP Consul cluster with an existing one

Once you have a HCP Consul cluster, you can create a new Consul cluster to federate with the existing one.

{{ tffile "examples/guides/consul_cluster_federation/main.tf" }}