---
subcategory: ""
page_title: "Create a new ACL root token - HCP Provider"
description: |-
    An example of creating a new ACL root token.
---

# Create a new Consul ACL root token

Creating a new root token is useful if your HCP Consul cluster has been imported into Terraform
or is managed outside of Terraform. It is important to note that when creating a new root token,
the existing root token will be invalidated.

{{ tffile "examples/guides/consul_cluster_root_token/main.tf" }}

The secret ID of this root token can be used to configure the Consul provider.

```
provider "consul" {
  address    = "example.consul.io:80"
  token      = hcp_consul_cluster_root_token.example.secret_id
}
```
