---
subcategory: ""
page_title: "Advanced Packer Channel Management - HCP Provider"
description: |-
    A guide to integreting HCP Packer resources and data sources for more advanced channel management.
---

# Advanced Packer Channel Management

By integrating multiple HCP Packer resources and data sources, you can perform more advanced channel management tasks.

## Setting the channel assignment on a Terraform-managed channel

{{ tffile "examples/guides/packer_channel_management/main.tf" }}

## Setting the channel assignment to the latest complete iteration

{{ tffile "examples/guides/packer_channel_management/assign_latest.tf" }}

