---
subcategory: ""
page_title: "Peer an AWS VPC to a HashiCorp Virtual Network (HVN) - HCP Provider"
description: |-
    An example of peering an AWS VPC to a HashiCorp Virtual Network (HVN).
---

# Peer an AWS VPC to a HashiCorp Virtual Network (HVN)

In order to connect AWS workloads to an HCP Consul cluster, you must peer the VPC in which the workloads reside to the HVN in which the HCP cluster resides.
This is accomplished by using the `hcp_aws_network_peering` resource to create a network peering between the HVN's VPC and your own VPC.
The [aws_vpc_peering_connection_accepter](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/vpc_peering_connection_accepter) resource is useful for accepting the network peering that is initiated from the `hcp_aws_network_peering`.

-> **Note:** The CIDR blocks of the HVN and the peer VPC cannot overlap.

For a complete example of deploying Consul on HCP, check out the [Deploy HCP Consul with Terraform](https://developer.hashicorp.com/consul/tutorials/cloud-production/terraform-hcp-consul-provider) guide.
{{ tffile "examples/guides/peering/main.tf" }}

## Tutorials

Refer to the following tutorials for additional usage examples:

- [Deploy HCP Consul with Terraform](https://developer.hashicorp.com/consul/tutorials/cloud-production/terraform-hcp-consul-provider)
- [Deploy HCP Vault with Terraform](https://developer.hashicorp.com/vault/tutorials/cloud-ops/terraform-hcp-provider-vault)