---
subcategory: ""
page_title: "Peer an HVN to an HCP Consul cluster - HCP Provider"
description: |-
    An example of peering an HVN to an HCP Consul cluster.
---

# Peer an HVN to an HCP Consul cluster

TODO: resource names, how peering and clusters relate

{{ tffile "examples/guides/peering/main.tf" }}