---
subcategory: ""
page_title: "Peer an Azure VNet to a HashiCorp Virtual Network (HVN)"
description: |-
    An example of peering an Azure VNet to a HashiCorp Virtual Network (HVN).
---

# Peer an Azure VNet to a HashiCorp Virtual Network (HVN)

In order to connect Azure workloads to an HCP services, you must peer the VNet in which the workloads reside to the HVN in which the HCP service resides.
This is accomplished by using the `hcp_azure_peering_connection` resource to create a network peering between the HVN's VNet and your own VNet.

-> **Note:** The CIDR blocks of the HVN and the peer VNet cannot overlap.

-> **Note:** Azure Hub/Spoke architecture support is in private beta. Please contact [HashiCorp support](https://support.hashicorp.com/hc/en-us) for details.

{{ tffile "examples/guides/peering_azure/main.tf" }}

## Peer an Azure VNet to an HVN - Gateway support

The following example shows how to connect Azure workloads to HCP HVNs which require [Hub-spoke network topology](https://learn.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/hub-spoke?tabs=cli) utilizing an Azure VPN Gateway.

Notable aspects of this configuration:
* When the `use_remote_gatways` parameter of the `hcp_azure_peering_connection` resource is set to `true`, the peering link from customer VNet to HVN is set with `AllowGatewayTransit` to `true`.

{{ tffile "examples/guides/peering_azure_gateway/main.tf" }}

## Peer an Azure VNet to an HVN - Network Virtual Appliance (NVA) support

The following example shows how to connect Azure workloads to HCP HVNs which require [Hub-spoke network topology](https://learn.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/hub-spoke?tabs=cli) utilizing an Azure Network Virtual Appliance.

Notable aspects of this configuration:
* An Azure Firewall is used as the Network Virtual Appliance (NVA).
* A "Spoke" Virtual Network is included and peered to the "Hub" Virtual Network.

{{ tffile "examples/guides/peering_azure_nva/main.tf" }}

## Tutorials

Refer to the following tutorials for additional usage examples:

- [Configure Azure VM for HCP](https://developer.hashicorp.com/consul/tutorials/cloud-production/consul-client-azure-virtual-machines)
