---
subcategory: ""
page_title: "Create Consul cluster snapshots in HCP - HCP Provider"
description: |-
    An example of creating an HCP Consul cluster snapshot.
---

# Create Consul cluster snapshots

The snapshot resource allows users to manage Consul snapshots of an HCS cluster. Snapshots currently have a retention policy of 30 days.

{{ tffile "examples/guides/snapshots/main.tf" }}