---
subcategory: ""
page_title: "Using the Vault Secrets Datasources"
description: |-
    Fetch your secrets from Vault Secrets
---

The HCP Provider offers two ways of accessing secrets as a data source. The first is through fetching an app’s worth of secrets and the second is through fetching a singular secret by name.

Below is an example of fetching an app’s worth of secrets and accessing this throughout your Terraform configuration.

{{ tffile "examples/guides/vault_secrets/datasources.tf" }}

We also allow you to fetch a singular secret from Vault Secrets.

{{ tffile "examples/guides/vault_secrets/datasourcesingle.tf" }}

