---
subcategory: ""
page_title: "Manage apps and secrets with Vault Secrets - HCP Provider"
description: |-
    Manage Vault Secrets apps and resources.
---

The HCP Provider allows you to manage your Vault Secrets apps and secrets.

The Vault Secrets app resource allows you to manage your application through the following configuration: 

{{ tffile "examples/guides/vault_secrets/resourceapp.tf" }}

We can also use this to create secrets based off our new application.

{{ tffile "examples/guides/vault_secrets/resources.tf" }}

-> **Note:** The secret value is considered sensitive and will be masked with any output. However, the secret value will be written to your state file and we recommend treating the [state file as sensitive](https://developer.hashicorp.com/terraform/language/state/sensitive-data)