---
subcategory: ""
page_title: "Resize or scale a Vault cluster - HCP Provider"
description: |-
    Change a current HCP Vault cluster in terms of tiers (Dev, Starter, Standard) or sizes (S, M, L).
---

# Resize or scale a cluster

Admins are able to use the provider to change a cluster’s size or tier. Scaling down to a Development tier from any production-grade tier is not allowed. In addition, if you are using too much storage and want to scale down to a smaller size or tier, you will be unable to do so until you delete enough resources. 

### Scaling example

Initial Cluster:
{{ tffile "examples/guides/scaling/dev-init.tf" }}

Scaling to Standard:
{{ tffile "examples/guides/scaling/scale-to-standard.tf" }}

