---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} `{{.Type}}`

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/hcp_aws_transit_gateway_attachment/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

-> **Note:** When importing a transit gateway attachment, you will want to configure a `lifecycle` configuration block with an `ignore_changes` argument including `resource_share_arn`. This is needed because its value is no longer retrievable after creation.

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/hcp_aws_transit_gateway_attachment/import.sh" }}
