---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} `{{.Type}}`

-> **Note:** This feature is currently in private beta. If you would like early access, please [contact our sales team](https://www.hashicorp.com/contact-sales).

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/hcp_aws_transit_gateway_attachment/resource.tf" }}

~> **Security Notice:** This resource contains sensitive input. Please see this [list of recommendations](https://www.terraform.io/docs/language/state/sensitive-data.html) for storing sensitive information in Terraform.

{{ .SchemaMarkdown | trimspace }}

## Import

-> **Note:** When importing a transit gateway attachment, you will want to configure a `lifecycle` configuration block with an `ignore_changes` argument including `resource_share_arn`. This is needed because its value is no longer retrievable after creation.

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/hcp_aws_transit_gateway_attachment/import.sh" }}
