---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "HCP Consul"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/hcp_consul_snapshot/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
