---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

-> **Note:** The `primary_link` attribute is related to federation, a feature that is currently in private beta.

-> **Note:** The `plus` tier is currently in private beta.

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/hcp_consul_cluster/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/hcp_consul_cluster/import.sh" }}