---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "Cloud Platform"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage: AWS

{{ tffile "examples/resources/hcp_iam_workload_identity_provider/resource_aws.tf" }}

## Example Usage: Azure

{{ tffile "examples/resources/hcp_iam_workload_identity_provider/resource_azure.tf" }}

## Example Usage: GCP

{{ tffile "examples/resources/hcp_iam_workload_identity_provider/resource_gcp.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/hcp_iam_workload_identity_provider/import.sh" }}
