---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "Cloud Platform"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Note:** `hcp_organization_iam_binding` can not be used in conjunction with
`hcp_organization_iam_policy`.

## Example Usage

{{ tffile "examples/resources/hcp_organization_iam_binding/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
