---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

To create a channel.
{{ tffile "examples/resources/hcp_packer_channel/resource.tf" }}

To create a channel with a Terraform-managed iteration.
{{ tffile "examples/resources/hcp_packer_channel/resource_assignment.tf" }}

Using the latest channel to create a new channel with the latest complete iteration assigned.
{{ tffile "examples/resources/hcp_packer_channel/resource_using_latest_channel.tf" }}


{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/hcp_packer_channel/import.sh" }}
