---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

-> **Note:** This resource is currently in public beta.

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/hcp_packer_run_task/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
