---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

-> **Note:** This resource is currently in public beta.

{{ .Description | trimspace }}

## Example Usage

To create a channel with no assigned iteration.
{{ tffile "examples/resources/hcp_packer_channel/resource.tf" }}

To create, or update an existing, channel with an assigned iteration.
{{ tffile "examples/resources/hcp_packer_channel/resource_assignment.tf" }}

Using the latest channel to create a new channel with an assigned iteration.
{{ tffile "examples/resources/hcp_packer_channel/resource_using_latest_channel.tf" }}


{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/hcp_packer_channel/import.sh" }}
