---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "Cloud Platform"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Use this resource to manage organization-wide resource creation guardrails in HCP. By enabling constraints, you can prevent specific HCP resource types from being created in the organization.

## Example Usage

{{ tffile "examples/resources/hcp_resource_control_policy/resource.tf" }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/hcp_resource_control_policy/import.sh" }}

{{ .SchemaMarkdown | trimspace }}
