---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "Cloud Platform"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage: Creating a new key

{{ tffile "examples/resources/hcp_service_principal_key/resource.tf" }}

## Example Usage: Creating and regularly rotating a key

{{ tffile "examples/resources/hcp_service_principal_key/resource_rotation.tf" }}

{{ .SchemaMarkdown | trimspace }}
