---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "Cloud Platform"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage: Create in provider configured project

{{ tffile "examples/resources/hcp_service_principal/resource.tf" }}

## Example Usage: Create in new project

{{ tffile "examples/resources/hcp_service_principal/resource_new_project.tf" }}

## Example Usage: Create organization service principal

{{ tffile "examples/resources/hcp_service_principal/resource_organization.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/hcp_service_principal/import.sh" }}
