---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "HCP Vault Secrets"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/hcp_vault_secrets_secret/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}