---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "HCP Vault Radar"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

-> **Note:** This feature is currently in private beta.

{{ .Description | trimspace }}

~> **Note:** A Radar agent is required before adding a Radar secret manager resource.

~> **Note:** One of the following authentication methods is required to create a Radar secret manager resource:
- Kubernetes
- AppRole
- Token

~> **Note:** Auth methods need to be configured in the `admin` namespace of the HCP Vault Dedicated cluster.

~> **Note:** Environment variables that correspond to the authentication method being used must be available to the agent.

## Example Usage

{{ tffile "examples/resources/hcp_vault_radar_secret_manager_vault_dedicated/resource.tf" }}


{{ .SchemaMarkdown | trimspace }}
