---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "HCP Vault Secrets"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Note:** This resource is deprecated, please use `hcp_vault_secrets_integration` instead.

## Example Usage

{{ tffile "examples/resources/hcp_vault_secrets_integration_aws/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/hcp_vault_secrets_integration_aws/import.sh" }}
