---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "HCP Waypoint"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} `{{.Type}}`



{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/hcp_waypoint_template/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
