---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "HCP Waypoint"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} `{{.Type}}`



{{ .Description | trimspace }}

## Example Usage

If you are using [tfe_registry_module](https://registry.terraform.io/providers/hashicorp/tfe/latest/docs/data-sources/registry_module) datasource, use the `no_code_module_id` and `no_code_module_source` attributes for the inputs in the addon definition.

{{ tffile "examples/resources/hcp_waypoint_add_on_definition/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
