---
layout: ""
page_title: "Provider: HCP (HashiCorp Cloud Platform)"
description: |-
  The HCP provider provides resources to manage [HashiCorp Cloud Platform](https://cloud.hashicorp.com/) (HCP) resources.
---

# HashiCorp Cloud Platform (HCP) Provider

The HCP provider provides resources to manage [HashiCorp Cloud Platform](https://cloud.hashicorp.com/) (HCP) resources.

~> **Known Issue** There is an issue with v0.4.0 of the HCP Provider in which existing Consul clusters that do not specify size will be force-recreated on the next Apply. Please upgrade to the patch v0.4.1 to avoid this issue.

## Authenticating with HCP

The HCP provider supports authentication via a Client ID and a Client Secret. The [authentication guide](guides/auth.md) describes how to obtain client credentials.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}