---
layout: ""
page_title: "Provider: HCP (HashiCorp Cloud Platform)"
description: |-
  The HCP provider provides resources to manage [HashiCorp Cloud Platform](https://www.hashicorp.com/cloud-platform) (HCP) resources.
---

# HashiCorp Cloud Platform (HCP) Provider

The HCP provider provides resources to manage [HashiCorp Cloud Platform](https://www.hashicorp.com/cloud-platform) (HCP) resources.

## Authenticating with HCP

The HCP provider supports authentication via a Client ID and a Client Secret. The [authentication guide](guides/auth.html) describes how to obtain client credentials.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}