---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} `{{.Type}}`

-> **Note:** This feature is currently in private beta. If you would like early access, please [contact our sales team](https://www.hashicorp.com/contact-sales).

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/hcp_aws_transit_gateway_attachment/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
