---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "HashiCorp Virtual Networks"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

The AWS network peering data source provides information about an existing network peering between an HVN and a peer AWS VPC.

## Example Usage

```terraform
data "hcp_aws_network_peering" "test" {
  hvn_id                = var.hvn_id
  peering_id            = var.peering_id
  wait_for_active_state = true
}
```

{{ .SchemaMarkdown | trimspace }}
