---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "HCP Boundary"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/hcp_boundary_cluster/data-source.tf" }}


{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
# Using an explicit project ID, the import ID is:
# {project_id}:{cluster_id}
terraform import hcp_boundary_cluster.example f709ec73-55d4-46d8-897d-816ebba28778:boundary-cluster
# Using the provider-default project ID, the import ID is:
# {cluster_id}
terraform import hcp_boundary_cluster.example boundary-cluster
```
