---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "HCP Consul"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/hcp_consul_agent_helm_config/data-source.tf" }}


{{ .SchemaMarkdown | trimspace }}
