---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

-> **Note:** This feature is currently in private beta.

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/hcp_packer_image/data-source.tf" }}

## Schema

### Required

- **bucket_name** (String) The slug of the HCP Packer Registry image bucket to pull from.
- **cloud_provider** (String) Name of the cloud provider this image is stored-in, if any.
- **iteration_id** (String) HCP ID of this image.
- **region** (String) Region this image is stored in, if any.

### Optional

- **timeouts** (Block, Optional) (see [below for nested schema](#nestedblock--timeouts))

### Read-Only

- **build_id** (String) HCP ID of this build.
- **component_type** (String) Name of the builder that built this. Ex: 'amazon-ebs.example'
- **created_at** (String) Creation time of this build.
- **id** (String) Cloud Image ID or URL string identifying this image for the builder that built it.
- **organization_id** (String) The ID of the organization this HCP Packer registry is located in.
- **packer_run_uuid** (String) UUID of this build.
- **project_id** (String) The ID of the project this HCP Packer registry is located in.

<a id="nestedblock--timeouts"></a>
### Nested Schema for `timeouts`

Optional:

- **default** (String)
