---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "HCP Packer"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Deprecated:** This data source is deprecated and will be removed in a future release. Please use the [`hcp_packer_artifact`](./packer_artifact) data source instead.

{{ .SchemaMarkdown | trimspace }}
