---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "HCP Vault"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ .SchemaMarkdown | trimspace }}

---
