---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "HCP Waypoint"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} `{{.Type}}`



{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/hcp_waypoint_template/data-source.tf" }}
{{ .SchemaMarkdown | trimspace }}
