name: TestAcc Vault Radar

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    paths:
      - "internal/clients/vault_radar.go"
      - "internal/provider/vaultradar/**"

# This prevents more than one run of this workflow from executing at a time.
# Up to 1 additional run will be queued, with anything futher being cancelled from the queue.
concurrency:
  group: testacc-vaultradar
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  acceptance_tests:
    name: VaultRadar Acceptance Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          token: ${{ secrets.HCP_SDK_PIPELINE_TOKEN }}
      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          cache: true
          go-version-file: "go.mod"
          cache-dependency-path: go.sum
        id: go
      - name: Install Dependencies
        env:
          GOPRIVATE: "github.com/hashicorp/*"
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.5
          go mod tidy
      - name: Run 'go mod tidy'
        run: |
          make depscheck
      - name: Get dependencies
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.5
          go mod download
      - name: Go Build
        run: |
          go build -v .
      - name: Run TestAcc
        env:
          TF_ACC: 1

          HCP_API_HOST: ${{ secrets.HCP_API_HOST_INT }}
          HCP_AUTH_URL: ${{ secrets.HCP_AUTH_URL_INT }}

          HCP_ORGANIZATION_ID: ${{ secrets.VAULTRADAR_HCP_ORGANIZATION_ID }}
          HCP_PROJECT_ID: ${{ secrets.VAULTRADAR_HCP_PROJECT_ID }}
          HCP_CLIENT_ID: ${{ secrets.VAULTRADAR_HCP_CLIENT_ID }}
          HCP_CLIENT_SECRET: ${{ secrets.VAULTRADAR_HCP_CLIENT_SECRET }}

          RADAR_INTEGRATION_JIRA_BASE_URL: "https://hashicorp-sandbox-778.atlassian.net"
          RADAR_INTEGRATION_JIRA_EMAIL: "svc-vault-radar-cv-tests@ibm.com"
          RADAR_INTEGRATION_JIRA_TOKEN: ${{ secrets.RADAR_INTEGRATION_JIRA_TOKEN }}
          RADAR_INTEGRATION_JIRA_PROJECT_KEY: "RADAR"
          RADAR_INTEGRATION_JIRA_ISSUE_TYPE: "Task"
          RADAR_INTEGRATION_JIRA_ASSIGNEE: "712020:72bcf84a-ec39-4599-871f-62a2a20cbe4a"
          RADAR_INTEGRATION_SLACK_TOKEN: ${{ secrets.RADAR_INTEGRATION_SLACK_TOKEN }}
          RADAR_INTEGRATION_SLACK_TOKEN_2: ${{ secrets.RADAR_INTEGRATION_SLACK_TOKEN_2 }}
          RADAR_INTEGRATION_SLACK_CHANNEL: "the-test-zone"
          RADAR_GITHUB_CLOUD_ORGANIZATION: "hashicorp-automated-testing"
          RADAR_GITHUB_CLOUD_TOKEN: ${{ secrets.RADAR_GITHUB_CLOUD_TOKEN }}
          RADAR_GITHUB_CLOUD_TOKEN_2: ${{ secrets.RADAR_GITHUB_CLOUD_TOKEN_2 }}
          RADAR_GITHUB_ENTERPRISE_ORGANIZATION: "cv-and-acceptance-tests-org"
          RADAR_GITHUB_ENTERPRISE_DOMAIN: "github.radar.hashicorptest.com"
          RADAR_GITHUB_ENTERPRISE_TOKEN: ${{ secrets.RADAR_GITHUB_ENTERPRISE_TOKEN }}
          RADAR_GITHUB_ENTERPRISE_TOKEN_2: ${{ secrets.RADAR_GITHUB_ENTERPRISE_TOKEN_2 }}
          RADAR_HCP_RESOURCE_NAME: "vault-radar/project/4213bd26-e28e-4e89-b298-6a2abcaf26ca/scan-target/CnDtkwdQKBzLbjLrWTbf"
          RADAR_RESOURCES_URI_LIKE_FILTER: "git://github.com/vaultradarcv/hcp-terraform-provider-test-resource.git"
          RADAR_SM_VAULT_DEDICATED_VAULT_URL: "vault-cluster-public-vault-83dd81e9.f7c42b3e.z1.hashicorp.cloud:8200"
          RADAR_SM_VAULT_DEDICATED_MOUNT_PATH: "kubernetes"
          RADAR_SM_VAULT_DEDICATED_ROLE_NAME: "vault-acceptance-test-role"
        run: |
          go test \
            ./internal/provider/vaultradar \
            -v \
            -short \
            -test.v \
            -parallel=10 \
            -timeout=360m \
            -coverprofile=testacc-vaultradar.out

          go tool cover \
            -html=testacc-vaultradar.out \
            -o testacc-vaultradar.html
      - name: Upload TestAcc Coverage Artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: coverage-vaultradar
          path: testacc-vaultradar.html
